<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
 <table>
 
      <tr> <th>PAYLOAD DETAILS  </th>    </tr>        
 <tr><td>
 <button class="btn">
 <table>
<tr><td>    </td>   <th>     </th><td>     </td></tr>
<tr><td>End point</td><td>   </td><td> /user </td></tr>
<tr><td> Methods supported </td>><td>   </td><td> GET POST </td></tr>
<tr><td>Fields</td>><td>    </td><td>
{
    "id": "Integer",
    "username": "String",
    "firstName": "String",
    "lastName": "String",
    "email": "String",
    "phone": "Integer",
    "enabled": "Boolean",
    "userId": "Integer"
}</td></tr>
</table>
</button>

</td></tr>
</table>
     <table>
     <tr> <td>   </td>    </tr> 
   
     <tr> <td>   </td>    </tr>    
     <tr> <td>   </td>    </tr>    
        <tr> <th> Enter text to be added in json format. Template: {"field1":"datatype","field2":"datatype"....}  </th>    </tr>        
     
     
     
  <tr> <td>       
  
  
  <input type="text" class="form-control" id="fname" name="fname"></input>
          <table><tr><td>           
  <a
						th:href="@{http://localhost:8080/download/application}">
							<button type="button" class="btn  btn-primary ">Add, build and download</button>
					</a></td></tr></table>
							      </td></tr> 
         </table>
     <div th:replace="common/header :: body-bottom-scripts"/>          

</body>

</html>
